* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

main {
  width: 80%;
  border: 1px solid black;
  margin: auto;
}

main h1 {
  text-align: center;
}

#color-palette {
  width: 50%;
  margin: 2em auto;
  padding: 0;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 1.6em;
  padding: 0;
}

.black {
  background: black;
}

.red {
  background: red;
}

.purple {
  background: purple;
}

.green {
  background: green;
}

#pixel-board {
  margin: 0 auto;

}

.pixel {
  border: 1px solid black;
  background: white;
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 0;
}
